body {
    background-color: rgb(59, 59, 59);
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 0 2% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: black;
    border: 1px solid rgb(59, 59, 59);

}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.theLinks {
    width: 100%;
    text-align: center;
    align-items: center;
}
.heading {
    margin: auto;
    padding: 20px;
    color: black;
    background-color: #4aaaa5;
}
.mainContent {
    margin-left: 3%;
    width: 80%;
    background-color: black;
    padding: 1% 2% 3% 20px;
    border: 1px solid rgb(59, 59, 59);
    overflow: none;
    height: auto;
    border-radius: 25px;
}
.leftContent {
    background-color: black;
    width: 18%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: center;
}
.rightContent {
    width: 2%;
}
.line {
    display: block;
    background-color: #4aaaa5;
    color: black;
    opacity: .4;
    width: 90%;
}

a {
    color: #777777;
    text-decoration: none;
}

h2 {
    color: #4aaaa5;
}

.paragraphs {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    color: rgb(212, 212, 212);
}

img {
    height: 200px;
    width: 200px;
    float: left;
    padding: 1%;
    border-radius: 25px;
}

h3 {
    color: #777777;
    font-weight: normal;
}
.wholeThing {
    width: auto;
    height: auto;
}

.rowOne {
    width: 100%;
    margin-top: 5%;
    height: auto;
}


.rowContent {
    height: auto;
    width: auto;
    margin-left: 20%;
    margin-bottom: 10%;
}

.aLink img {
    height: 200px;
    width: 200px;
}

.text {
    width: 200px;
    height: 50px;
    background-color: #4aaaa5;
    opacity: .8;
    color: rgb(59, 59, 59);
    position: absolute;
    top: 132px;
    left: 2.2px;
    text-align: center;
    border-radius: 25px;
}
.aLink {
    display: flex;
    flex-direction: row;
}
.aLink a {
    width: 205px;
    margin-right: 20%;
    background-color: gray;
    border-radius: 25px;
    position: relative;
}
form {
    font-size: 20px;
}
.active {
    width: 100%;
}
input {
    border-color: #777777;
    background-color: rgb(59, 59, 59);
    margin-bottom: 1%;
}
.message {
    height: 200px;
    width: 70%;
    margin-bottom: 0;
}
.submitButton {
    background-color: #4aaaa5;
    width: 100px;
    height: 50px;
    border: solid #777777;
}

@media only screen and (max-width: 640px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .leftContent {
        width: 100%;
        border-radius: 25px;
    }
    .mainContent {
        width: auto;
        margin: 0;
    }
    header {
        flex-direction: column;
    }
    .theLinks {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .heading {
        margin: auto;
        border-radius: 25px;
    }
    .line {
        border: 0;
    }
}

@media only screen and (max-width: 800px) {
    .aLink {
        display: flex;
        flex-direction: column;
    }
    .aLink a {
        margin-bottom: 10%;
    }
}